container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  02_createadmin:
    command: "python3 manage.py createadmin -ph +91-9971334017 -p Atsg@546$Nhgt&987"
  03_populate_projects:
    command: "python3 manage.py populate_projects"
  04_populate_local_directory:
    command: "python3 manage.py populate_local_directory"
  05_activate_carbon_sequestration:
    command: "python3 manage.py activate_projects --projects 1"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: haritika_org.settings